<% 
	layout('layout.ejs') 
-%>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>메모장!</h1>
        <p>메모장은 문서를 만드는 데 사용할 수 있는 기본적인 텍스트 편집 프로그램입니다.</p>
        <p><a class="btn btn-primary btn-lg">자세한 내용 &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">      
      <div class="caption">
        <h3>메모 제목</h3>
        <p>메모 내용</p>
        <p><a href="#" class="btn btn-primary">수정</a> <a href="#" class="btn btn-default">삭제</a></p>
      </div>
    </div>
  </div>
  
   <div class="col-sm-6 col-md-3">
    <div class="thumbnail">      
      <div class="caption">
        <h3>메모 제목</h3>
        <p>메모 내용</p>
        <p><a href="#" class="btn btn-primary">수정</a> <a href="#" class="btn btn-default">삭제</a></p>
      </div>
    </div>
  </div>
  
     <div class="col-sm-6 col-md-3">
    <div class="thumbnail">      
      <div class="caption">
        <h3>메모 제목</h3>
        <p>메모 내용</p>
        <p><a href="#" class="btn btn-primary">수정</a> <a href="#" class="btn btn-default">삭제</a></p>
      </div>
    </div>
  </div>
  
     <div class="col-sm-6 col-md-3">
    <div class="thumbnail">      
      <div class="caption">
        <h3>메모 제목</h3>
        <p>메모 내용</p>
        <p><a href="#" class="btn btn-primary">수정</a> <a href="#" class="btn btn-default">삭제</a></p>
      </div>
    </div>
  </div>
  
</div>
      